body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}

.header {
    background-image: url(images/donation6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 250px;
    text-align: center;
}

.header h1 {
    font-size: 50px;
    color: white;
}

.header p {
    color: white;
    margin-bottom: 40px;
}

a {
    background-image: linear-gradient(orange, tomato);
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    border-radius: 5%;

}

.donate {
    text-align: center;
    padding: 40px 250px;
}

.donate h1 {
    font-size: 40px;
}

.flx {
    display: flex;
    padding: 40px;
}

.flx p {
    padding: 30px;
    background-color: ghostwhite;
    margin-right: 15px;
    font-size: 30px;
    
}

#hilight {
    border: 2px solid red;
    color: red;
    background-color: bisque;
}


hr {
    margin-bottom: 40px;
}
.flx2 {
    text-align: left;
    display: flex;
    
}
.flx2 img{
width: 60px;
}
.sec_1{
    background-color: rgb(208, 218, 228);
    padding: 10px;
    margin: 10px;
}
.sec_2{
    background-color:wheat;
    padding: 10px;
    margin: 10px;
}
.sec_3{
    background-color:azure;
    padding: 10px;
    margin: 10px;
}
.galary{
    text-align: center;
}
.p_galary{
    display: flex;
    
    
}
.p_galary img{
    width: 350px;
    margin: 30px;
   border: 2px solid orangered;
}
.Subscribe{
    background-color: bisque;
    margin: 10px 250px;
    padding: 50px;
    text-align: center;
}
      
 input{
    background-color: #FAF9F6;
    padding: 10px;
    margin: 0;
    border: none;
    border-radius: 5px;
    color: ;
}
 button{
    padding: 10px;
    margin: 0;
    color: white;
    background-color:crimson;
    border: none;
    border-radius: 5px;
    
}
footer{
    margin-top: 60px;
    padding: 30px 250px;
    text-align: center;
    background-color: black;
    color: white;
}
footer h1{
    color: orange;
}
